In [1]:
from pdfminer.pdfinterp import PDFResourceManager, PDFPageInterpreter
from pdfminer.converter import TextConverter
from pdfminer.layout import LAParams
from pdfminer.pdfpage import PDFPage
from io import StringIO

import io
import pandas as pd
import numpy as np
import PyPDF2
import textract
import nltk
import langdetect
import collections
import datefinder
import datetime
import re
import os
nltk.download('stopwords')
nltk.download('brown')
nltk.download('punkt')
import time
import spacy
from spacy import displacy
from collections import Counter
from nltk.corpus import stopwords
stop = set(stopwords.words('english')) #set of stopwords
import en_core_web_sm
nlp = en_core_web_sm.load()
import pytesseract
from os import listdir
from os.path import isfile, join
from tika import parser
from langdetect import detect

ModuleNotFoundError: No module named 'pdfminer'

In [ ]:
import tika
from tika import parser
filename="C:/Users/lingadhar_duggirala/Desktop/Metadata_Validation/Non SEC documents/245313812.txt"
file_data = parser.from_file(filename)
text = file_data['content']
text

In [2]:
flname='C:/Users/lingadhar_duggirala/Desktop/FDCA3Cos with AlternateNames.xlsx'
comp_master=pd.read_excel(flname)

In [3]:
comp_master.head(2)

,CompanyId,MinDP,MaxDP,Company Name,Country,ALTERNATENAME,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,18507,1999-12-31,2001-12-31,2M Invest A/S,Denmark,,NaN,NaN,NaN
1,18511,1997-03-31,2018-03-31,3i Group plc,United Kingdom,31 Group Plc,NaN,NaN,NaN

In [6]:
def convert_pdf_to_txt(path,n):
    rsrcmgr = PDFResourceManager()
    retstr = StringIO()
    codec = 'utf-8'
    laparams = LAParams()
    device = TextConverter(rsrcmgr, retstr, codec=codec, laparams=laparams)
    fp = open(path, 'rb')
    interpreter = PDFPageInterpreter(rsrcmgr, device)
    password = ""
    maxpages = n
    caching = True
    pagenos=set()

    for page in PDFPage.get_pages(fp, pagenos, maxpages=maxpages, password=password,caching=caching, check_extractable=True):
        interpreter.process_page(page)

    text = retstr.getvalue()

    fp.close()
    device.close()
    retstr.close()
    return text

In [12]:
comp=[]
onlyfiles = [f for f in listdir('C:/Users/lingadhar_duggirala/Desktop/pdffiles1') if isfile(join('C:/Users/lingadhar_duggirala/Desktop/pdffiles', f))]
os.chdir('C:/Users/lingadhar_duggirala/Desktop/pdffiles')
initialdf=pd.DataFrame(columns=(['Docid','Company','Language','Filingdate']))
k=0
from langdetect import detect
for file in onlyfiles:
    if os.path.splitext(file)[1]=='.pdf':
        txt=convert_pdf_to_txt(file,1)
        with open(file, 'rb') as f:
            print(file)
            pdf = PyPDF2.PdfFileReader(file)
            page = pdf.getPage(0)
            txt_1 = page.extractText()
        if txt_1 != "":
            text = txt.split("\n")
            text = [w.lower() for w in text]
            text = [w.replace('plc', 'public limited company') for w in text]
        else:
            txt = (textract.process(file, method='tesseract')).decode("ISO-8859-1")
            txt = txt.replace("\xa0", " ")
            txt = re.sub('[\r,]', '', txt)
            txt = txt.lower().split('\n')
            #text = (textract.process(file, method='tesseract')).decode("ISO-8859-1")
            #txt=nlp(text)
            orgs=list(set([(X.text.lower()) for X in txt.ents if X.label_=='ORG']))
            comp=list(set([x for x in comp_master['Company Name'] if str(x).lower() in txt]))
            print(orgs)
    if len(comp)>0:
        for i in range(0,len(comp)):
            initialdf.loc[k,['Docid']]=os.path.splitext(file)[0]
            initialdf.loc[k,['Language']]=detect(txt)
            initialdf.loc[k,['Company']]=comp[i]
            k+=1
    else:
        initialdf.loc[k,['Docid']]=os.path.splitext(file)[0]
        initialdf.loc[k,['Language']]="Image not scanned properly"
        initialdf.loc[k,['Company']]="Image not scanned properly"
        k+=1
        
                    
initialdf

380436896.pdf

,Docid,Company,Language,Filingdate
0,380436896,Image not scanned properly,Image not scanned properly,NaN

In [1]:
from tika import parser
from langdetect import detect
onlyfiles = [f for f in listdir('C:/Users/lingadhar_duggirala/Desktop/NonSECdocuments') if isfile(join('C:/Users/lingadhar_duggirala/Desktop/NonSECdocuments', f))]
os.chdir('C:/Users/lingadhar_duggirala/Desktop/NonSECdocuments')
initialdf=pd.DataFrame(columns=(['Docid','Company','Companyid','Language']))
k=0
for file in onlyfiles:
    print(file)
    file_data = parser.from_file(file)
# Get files text content
    try:
        text = file_data['content']
    #text = text.replace("\xa0", " ")
    #text = re.sub('[\r,]', '', text)
        text = text.split("\n")[0:100]
        text = [w.lower() for w in text]
        text = [w.replace('plc', 'public limited company') for w in text]
        comp=list(set([x for x in comp_master['Company Name'] if str(x).lower() in text]))
    except AttributeError:
        print("File might have scanned images")
    if len(comp)>0:
        for i in range(len(comp)):
            #initialdf.loc[k,['Docid']]=os.path.splitext(file)[0]
            initialdf.loc[k,['Docid']]=file
            #initialdf.loc[k,['Language']]=detect(str(text))
            initialdf.loc[k,['Company']]=comp[i]
            k+=1
    else:
        #initialdf.loc[k,['Docid']]=os.path.splitext(file)[0]
        #initialdf.loc[k,['Language']]=detect(str(text))
        initialdf.loc[k,['Docid']]=file
        initialdf.loc[k,['Company']]="Unable to extract text"
        k+=1
        
                    
initialdf

ModuleNotFoundError: No module named 'langdetect'

In [6]:
import pandas as pd
import os
import time
start_time = time.clock()
from tika import parser
##from langdetect import detect
#onlyfiles = [f for f in listdir('C:/Users/lingadhar_duggirala/Desktop/NonSECdocuments') if (isfile(join('C:/Users/lingadhar_duggirala/Desktop/NonSECdocuments', f))) & (os.path.splitext(f)[1]=='.pdf')]
#os.chdir('C:/Users/lingadhar_duggirala/Desktop/NonSECdocuments')
initialdf=pd.DataFrame(columns=(['Docid','Company','Companyid','Comments']))
k=0
for file in onlyfiles:
    file="C:/Users/lingadhar_duggirala/Desktop/Metadata_Validation/Non SEC documents/245313812.txt"
    file_data = parser.from_file(file)
# Get files text content
    try:
        text = file_data['content']
    #text = text.replace("\xa0", " ")
    #text = re.sub('[\r,]', '', text)
        text = text.split("\n")[0:100]
        text = [w.lower() for w in text]
        text = [w.replace('plc', 'public limited company') for w in text]
        comp=list(set([x for x in comp_master['Company Name'] if str(x).lower() in text]))
    except (AttributeError,KeyError):
        print("File might have scanned images")
    if len(comp)>0:
        for i in range(len(comp)):
            #initialdf.loc[k,['Docid']]=os.path.splitext(file)[0]
            initialdf.loc[k,['Docid']]=file
            initialdf.loc[k,['Companyid']]=comp_master[comp_master["Company Name"]==comp[i]]["CompanyId"]
            initialdf.loc[k,['Company']]=comp[i]
            initialdf.loc[k,['Comments']]="Entities extracted"
            k+=1
    else:
        #initialdf.loc[k,['Docid']]=os.path.splitext(file)[0]
        #initialdf.loc[k,['Language']]=detect(str(text))
        initialdf.loc[k,['Docid']]=file
        initialdf.loc[k,['Comments']]="Unable to extract entities"
        k+=1
        
print('Time took for preprocessing the text :',(time.clock() - start_time)/60, "minutes")                   
initialdf

C:\Users\lingadhar_duggirala\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  after removing the cwd from sys.path.

NameError: name 'onlyfiles' is not defined

In [18]:
initialdf[(initialdf.Comments=="Entities extracted")].count()

Docid        381
Company      381
Companyid      0
Comments     381
dtype: int64

In [20]:
initialdf[initialdf.Company=="BSE Limited"]

              Docid      Company Companyid            Comments
27    432380184.pdf  BSE Limited       NaN  Entities extracted
28    432380202.pdf  BSE Limited       NaN  Entities extracted
29    432577360.pdf  BSE Limited       NaN  Entities extracted
103   486735880.pdf  BSE Limited       NaN  Entities extracted
130   487516292.pdf  BSE Limited       NaN  Entities extracted
136   487518834.pdf  BSE Limited       NaN  Entities extracted
139   487522448.pdf  BSE Limited       NaN  Entities extracted
143   487524506.pdf  BSE Limited       NaN  Entities extracted
154   487552852.pdf  BSE Limited       NaN  Entities extracted
155   487553440.pdf  BSE Limited       NaN  Entities extracted
221   487878196.pdf  BSE Limited       NaN  Entities extracted
348   488217404.pdf  BSE Limited       NaN  Entities extracted
351   488242768.pdf  BSE Limited       NaN  Entities extracted
396   488263378.pdf  BSE Limited       NaN  Entities extracted
431   488268190.pdf  BSE Limited       NaN  Entities extracted
432   488268192.pdf  BSE Limited       NaN  Entities extracted
439   488268340.pdf  BSE Limited       NaN  Entities extracted
441   488268342.pdf  BSE Limited       NaN  Entities extracted
447   488269032.pdf  BSE Limited       NaN  Entities extracted
448   488269034.pdf  BSE Limited       NaN  Entities extracted
551   488451916.pdf  BSE Limited       NaN  Entities extracted
570   488455932.pdf  BSE Limited       NaN  Entities extracted
572   488456004.pdf  BSE Limited       NaN  Entities extracted
574   488456108.pdf  BSE Limited       NaN  Entities extracted
575   488456392.pdf  BSE Limited       NaN  Entities extracted
605   488521120.pdf  BSE Limited       NaN  Entities extracted
606   488523636.pdf  BSE Limited       NaN  Entities extracted
611   488526530.pdf  BSE Limited       NaN  Entities extracted
617   488529868.pdf  BSE Limited       NaN  Entities extracted
644   488662124.pdf  BSE Limited       NaN  Entities extracted
...             ...          ...       ...                 ...
681   488676618.pdf  BSE Limited       NaN  Entities extracted
823   488974564.pdf  BSE Limited       NaN  Entities extracted
824   488974566.pdf  BSE Limited       NaN  Entities extracted
851   489034196.pdf  BSE Limited       NaN  Entities extracted
863   489037528.pdf  BSE Limited       NaN  Entities extracted
869   489039232.pdf  BSE Limited       NaN  Entities extracted
871   489039536.pdf  BSE Limited       NaN  Entities extracted
878   489040330.pdf  BSE Limited       NaN  Entities extracted
1024  489266920.pdf  BSE Limited       NaN  Entities extracted
1029  489276866.pdf  BSE Limited       NaN  Entities extracted
1030  489277230.pdf  BSE Limited       NaN  Entities extracted
1142  489492930.pdf  BSE Limited       NaN  Entities extracted
1144  489493276.pdf  BSE Limited       NaN  Entities extracted
1147  489493508.pdf  BSE Limited       NaN  Entities extracted
1149  489493820.pdf  BSE Limited       NaN  Entities extracted
1220  489653824.pdf  BSE Limited       NaN  Entities extracted
1247  489674410.pdf  BSE Limited       NaN  Entities extracted
1302  489708612.pdf  BSE Limited       NaN  Entities extracted
1320  489720290.pdf  BSE Limited       NaN  Entities extracted
1348  489781430.pdf  BSE Limited       NaN  Entities extracted
1350  489783060.pdf  BSE Limited       NaN  Entities extracted
1388  489860766.pdf  BSE Limited       NaN  Entities extracted
1399  489872052.pdf  BSE Limited       NaN  Entities extracted
1401  489872106.pdf  BSE Limited       NaN  Entities extracted
1595  490374738.pdf  BSE Limited       NaN  Entities extracted
1596  490374790.pdf  BSE Limited       NaN  Entities extracted
1598  490376790.pdf  BSE Limited       NaN  Entities extracted
1599  490376802.pdf  BSE Limited       NaN  Entities extracted
1794  490818234.pdf  BSE Limited       NaN  Entities extracted
1901  491198914.pdf  BSE Limited       NaN  Entities extracted

[65 rows x 4 columns]

In [11]:
initialdf.count()

Docid        1937
Company       381
Companyid       0
Comments     1937
dtype: int64

In [29]:
txt = (textract.process(file, method='tesseract')).decode("ISO-8859-1")
txt = re.sub('[\r,]', '', txt)
txt = txt.lower().split('\n')
txt

['jadran â\x80\x94',
 'fag) crikvenica',
 '',
 '   ',
 '',
 'jadran d.d. crikvenica',
 'temporary unaudited management report',
 'business results | -xii / 2017.',
 '',
 'in 2017 company jadran d.d. realized 1% more total income than in the same period of 2016 and 13',
 '% more total expenses than in the same period of 2016. in 2017 in the structure of income 14 %',
 'more income from accommodation was realizes than in 2016 due to the increase in capacity',
 'utilization and a better average price of accommodation in 4 * hotels (katarina and omorika) 23 %',
 'more income was realized from food and beverages compared to 2016 and 8 % more other incomes',
 'were realized compared to the same period last year. in the year 2016 hrk 64 million was realized',
 'from the sale of property while in 2017 hrk 30.108 was realized from the same source.',
 '',
 'in 2017 9 % more operating expenses were realized than in the same period of 2016. the food',
 'expense in 2017 increased by 24 % compared to 2016 due to the greater recognition of costs in 4 *',
 'hotels and due to the increased number of guests energy costs increased by 12 % compared to 2016',
 '(investment in air-conditioning systems in 4 * hotels and the increased number of guests) the',
 'maintenance costs of the facilities increased by 6 % compared to 2016 and the cost of wages',
 'increased by 25 % compared to 2016. amortization expense in 2017 is 17 % higher than amortization',
 'in 2016.',
 '',
 'in 2017 financial income was higher by 172 % while financial expense increased by 184 % compared',
 'to the same period of 2016.',
 '',
 'the loss amounts in 2017 is hrk 4200136 while in 2016 the profit after taxation was hrk',
 '3834618.',
 '',
 'in crikvenica 27.02.2018.',
 '',
 ' ',
 '',
 'management board member management board president',
 '# }',
 'marila g haniâ¢ sovar jobs .',
 'ox /',
 '',
 'ff \\adran >',
 '',
 'ag. za notenjerstve | mt eee',
 '',
 'crikvenicâ®',
 'ured uprave',
 '',
 ' ',
 '',
 'jadran d.d. za hotelijerstvo i turizam bana jelatiâ¢a 16 hr-51260 crikvenica | www.jadran-crikvenica.hr',
 '',
 'uprava: marketing: oib: 56994999963',
 't: +385 (0)51 241 222 t: +385 (0)51 241970 privredna banka d.d. 2340009-1110722690',
 'f: +385 (0)51 241 632 f: +385 (0)51 241 975 iban: hr4323400091 110722690',
 '',
 'e: uprava@jadran-crikvenica.hr e: marketing@jadran-crikvenica hr swift: pbzghr2x',
 '',
 'â\x80\x98temeljni kapital iznosi 491.31669000 kn uplaã©en u cijelosti podijljen na 49 131.669 redovnih dionica nominalnog izmosa 1000 kuna svaka drustvo je upisano u sudski registar trgovackog suda u',
 'rijeci pri trgovatkom sudu w rijeci pod mbs: 040000817 predsjednik uprave: mr. sc. pero matiã© clanica uprave: marija galjaniâ¢ sovar dip. oes. predsjednik nadzomog odbora: ivo babiã© dipl.',
 '\x0c ',
 '',
 'enclosure 1',
 'reporting period:',
 '',
 'registration number (mbs):',
 '',
 ' ',
 '',
 ' ',
 '',
 '4.1.2017. to',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '31.12.2017',
 '',
 ' ',
 '',
 ' ',
 '',
 'quarterly financial report tfi-pod',
 '',
 'tax number (mb): 03145662',
 '',
 '040000817',
 '',
 ' ',
 '',
 'personal identification|',
 '',
 '56994999963',
 '',
 ' ',
 '',
 'number (oib)',
 '',
 'issuer |jadran d.d. crikvenica',
 '',
 ' ',
 '',
 'postal code and location:',
 '',
 ' ',
 '',
 '51260 [crikvenica',
 '',
 ' ',
 '',
 'street and number: |bana jelaã©iâ¢a 16',
 '',
 ' ',
 '',
 'e-mail: |uprava@ ladran-crikvenica.hr',
 '',
 ' ',
 '',
 'internet address: |www. jadran-crikvenica.hr',
 '',
 'code and city/municipality| 53 |crikvenica',
 '',
 'code and county|',
 '',
 ' ',
 '',
 ' ',
 '',
 '|primorsko-goranska',
 '',
 ' ',
 '',
 ' ',
 '',
 'consolidated report| no',
 '',
 'entities in consolidation (according to ifrs) registered seat:',
 '',
 'number of employees.',
 '',
 '292',
 '',
 ' ',
 '',
 '(at the end of year)',
 'business activity code:',
 '',
 ' ',
 '',
 '$510',
 '',
 ' ',
 '',
 'tax number (mb):',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 'book-keeping office:',
 '',
 ' ',
 '',
 ' ',
 '',
 'contact person|natali lvanã©iã© majetiã©',
 '',
 ' ',
 '',
 '(name and surname of contact person)',
 'telephone: |+385 (0)51 800 482',
 '',
 ' ',
 '',
 ' ',
 '',
 'e-mail: [financije@jadran-crikvenica.hr',
 '',
 'telefaks:|+385 (0)51 241 349',
 '',
 ' ',
 '',
 ' ',
 '',
 'name and surname: |pero matiã©',
 '',
 ' ',
 '',
 '(authorized representatives)',
 '',
 'documents to be published:',
 '',
 '1. financial statements (balance sheet income statement cash flow state',
 '',
 '2. management commentary statement with notes',
 '',
 '3. responsibility of the el) â\x80\x9ctt airâ\x80\x9d of the financial statements',
 '',
 ' ',
 '',
 '(1d. za hotelljerstvo i turizam',
 'crikvenica',
 '',
 ' ',
 '',
 ' ',
 '',
 'ment statement of changes in equity)',
 '',
 ' ',
 '',
 'uredterpve (signature of authorized representative)',
 '',
 ' ',
 '',
 ' ',
 '\x0cbalance sheet',
 'as at 31 december 2017',
 '',
 ' ',
 '',
 'issuer: jadran d.d. crikvenica',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '      ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '  ',
 '',
 ' ',
 '',
 '  ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '   ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '   ',
 '',
 ' ',
 '',
 '   ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '   ',
 '',
 ' ',
 '',
 ' ',
 '',
 '    ',
 '',
 ' ',
 '',
 ' ',
 '',
 '   ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '   ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 'item aop | previous period | current period',
 'ec 4 2 ad. 3 4',
 '|',
 'a) receivables for registared unpaid capital a',
 'assets (003+010+020+026+033) : 002 591.217.891| 634.164.1561',
 '|. intangible assets (004 do 009) _ - __ 309.375 __ 196.720}',
 '004 _|',
 '005 | 299.990] 198.720]',
 '3. goodwill â\x80\x94 _ | 006 fo',
 '_ 4 prepayments for intangible - 7 - _ 007 | - _',
 '5. intangible assets under con _ - _ 008 | 9.385} 9',
 '6. other intangible assets _ _ _ 003 - _|',
 'i property plant and ) equipment (011 do019) - 010 587.361.805| _630.420.720)',
 '1. land â\x80\x94 [ot | 208.461.517| _298.373.064',
 'ty â\x80\x94 _ 012 266.953.640] _301.254.714i',
 '- _ _ _|_013 | 16.066.254) 2.270.546',
 '4. tools plants&vehicles â\x80\x94 7 : _ | ota 304563/ 258.176',
 '5. biological asset â\x80\x94 _ _ [ -',
 '6. prepayments for tangible assets â\x80\x94 __ - : _ {_',
 '_7. assets under construction - _ â\x80\x94_ o17 | 5575811] 2.255.220',
 '| 8. other tangible assets. - - - 018 _ ss',
 '9. investments property _ ee) â\x80\x94',
 'lll. financial assets (021 do028) - - - 020 â\x80\x94 9.212.240] 3.212.240]',
 '1. investments in subsidiaries _ - oat - -',
 '2. loans to subsidiaries - â\x80\x94 â\x80\x94 022 - â\x80\x94_',
 '3. participating interests (stakes) _ â\x80\x94 - 023 |',
 '__4 loans to participating interest _ _ | 02a -',
 '__5. investments in securities _ _ 025 -',
 '6. loans & deposits _ â\x80\x94 _ 026 at',
 '| _7. other non-current financial assets _ _â\x80\x94 - _ 027 3.212.240] 3.212.240]',
 '8. investment accounted by equity method - __ 028 |',
 'iv. receivables (030 do 032) â\x80\x94 - _| 02 | o 0',
 '1. receivables from subsidiaries â\x80\x94 | 030 -',
 '__2. receivables from credit sales _ - 034 |',
 '__ 3. other receivables - 032 _ _',
 '|v. deferred tax assets - _â\x80\x94 - _ 033 334.471] 334.471',
 '[c) curent assets (035+043+050+058) - â\x80\x94 â\x80\x94| 034 | 8.220.083] s.asz.578',
 '| inventories (036 do 042) oe _ _ 035 | â\x80\x94_â\x80\x94as7.320 481.667',
 '1. raw materials & consumables - - [036 fatal 448 206]',
 '2. work in progress - _ | 037 ee',
 '3 products __ . - 038',
 '4. merchandise _ â\x80\x94 _ 039 13.179}',
 '5. prepayments for inventories _ - â\x80\x94 040 |',
 '| 6. other avaitable-for-sale assets - _â\x80\x94 041 a |',
 '| 7. biological asset 7 _ _| 042 - 7',
 'bles (044 do 049) _ â\x80\x94 | 043 2.742.625] 3.318.441',
 '_1. receivables for trade debt of subsidiaries _ _ _ - - 044',
 '|_ 2. trade receivables _ â\x80\x94 _[ 04s | 1.716549] 870.308)',
 '3. receivables for trade debis of participating entities â\x80\x94 _ 046 â\x80\x94 -',
 '4 amounts receivable from employees - _ - __047 25.181',
 '| 5. receivables from government agencies _ a ee __ 213.530 if',
 '| 6. other receivables - _ _| 049 ___ 787.565] 1.239.629]',
 'ill financial assets (051.do057) _ - | 050 1.209.246 |',
 '1. investments in subsidiaries - - _ ost [',
 '2 loans to subsidiaries _ â\x80\x94 _ â\x80\x94_ 052',
 '| 3. participating interests (stakes) _ _ 053 | _â\x80\x94',
 '| 4. loans to participating interest _ - â\x80\x94 054',
 '5. investments in securities ee {055 | - _',
 '6. loans &deposits - - â\x80\x94 | 056 1.209.246) 0',
 '7. other financial assets - tt | 057 i',
 'iv. cash and cash equivalents _â\x80\x94 _ 058 3.910.692] 2.652.470',
 'd) prepayments and accrued incomes - _ | 059 1.021.735| 1.831.193]',
 'je) total assets (001+002+034+059) - - | 060 600.459.709) 642.427.922|',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 'f) off-balance sheet items _ o6t',
 '',
 ' ',
 '\x0c ',
 '',
 'equity and liabilites:',
 '',
 ' ',
 '',
 '  ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '   ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 'c) non-current liabilities (084 do092)',
 'le to subsidiaries',
 'ies for loans deposits and other',
 'jes towards banks and other financial institutions',
 '__ 4. amounts payable for prepayment',
 '5 trade payables â\x80\x94',
 '__ 6. amounts payable for securities',
 'â\x80\x987. liabilities toward participating interests',
 '',
 ' ',
 '',
 ' ',
 ' ',
 '   ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '  ',
 '',
 '|a) equity (063+064+065+071+072+075+078) 062 | 628.304.1682] _824.104.027]',
 'jl share capital - - | |___491.316.690]_491.316.690',
 'll capital reserves _ - 25.401.322 25.401.322|',
 'lll. reserves from profit (086+067-068+060+070) _ | of',
 '',
 '1 legal reserves _ ii',
 '|2. reserves for treasury shares - ft',
 '',
 '3. treasury shares and stakes (jess) fo',
 '',
 '4. statutoryreserves : - _ _ ee',
 '5 other reserves - _ - ee',
 '',
 'iv. revaluation reserves: _ _',
 '',
 '\\v. retained earnings (073-074) _ 1.586.151',
 '| 1.retained earnings _ _ â\x80\x94 | _7.751.533]_17.586.181',
 '',
 '2. loss brought forward _ _ _ _ _',
 '|vi. profit or loss for the financial year (076-077) 075 3.834.617| 4.200.136]',
 '',
 '1. profit for the financial year_ â\x80\x94',
 '',
 '2. loss for the financial alyear 4.200.136]',
 'vil. minority interest - |',
 'b) provisions (080 do 082) _ - 885.032]',
 '',
 '1. provisions for redundancy costs _ 438.542|',
 '| 2. provisions for tax obligations - -',
 '',
 'â\x80\x983. other provision - 446 490',
 '',
 '_ 93.486.997|',
 '',
 ' ',
 '',
 '| __43.008.026',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '   ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '  ',
 '',
 '__4. amounts payable for prepayment',
 '5. trade payables',
 '',
 ' ',
 '',
 ' ',
 '',
 '| _8. other non-current liabilities 9530639 6.551.341',
 '8. deffered tax ee â\x80\x94 _ os',
 'd) current liabilities (094 do 108) ee - 093 14757483 2.124.283',
 '1. amounts payable to subsidiaries â\x80\x94 7 094 |',
 '2. liabilities for loans deposits and other â\x80\x94 095 454.000]',
 '_3. liabilities towards banks and other financial institutions _ _ 096 2.797.182|',
 'ts r prep: = - 4 3.092.816',
 '',
 '5.597.262|',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '6. amounts payable for securities - 099 il',
 '7. liabilities toward participating interests __ _ _ 100 _',
 '| _8. amounts payable to employees - [101 970.188] 1.297.399',
 '_9. liabilities for taxes and contributions _ - _ - 102 1.870.596 1.054.740)',
 '10. dividend payables 5 â\x80\x94 103 | |',
 '| 11. liabilities directly associated with the > assets classified as held for sale â\x80\x94 104 | _',
 '| 12. other current liabilities ~|105 - 1.312.802',
 'e) accrued charges and deferred revenue ee 106 1.830.583',
 '[f) total equity and liabilities (062+070+083+099+106) _ | 107 642.427.922',
 'g) off-balance sheet items _ _ | 108',
 '',
 ' ',
 '',
 'annex to the balance sheet (to be filled in by entrepreneur submitting consolidated financial report)',
 '',
 ' ',
 '',
 '|a) capital and reserves',
 '1. attributable to equity holders of the parent companyâ\x80\x99s capital',
 '2. attributable to minority interest',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '410',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 'note 1.: appendix to the balance sheet (\\o be filled in by entiles who submitting consolidated financial statements).',
 '\x0cincome statement',
 'for the period 01 january 2017 to 31 december 2017',
 'issuer: jadran d.d. crikvenica',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '    ',
 '',
 ' ',
 '',
 '      ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '      ',
 '',
 ' ',
 '',
 '   ',
 '',
 ' ',
 '',
 '     ',
 '',
 ' ',
 '',
 '  ',
 ' ',
 '  ',
 '  ',
 '',
 ' ',
 '',
 ' ',
 '',
 '      ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '        ',
 '',
 'item â\x80\x98aor: previous period current period',
 'cumulative | quarter | cumulative quarter',
 '1 2 3 4 5 6',
 'operating income (112+113) 114 83.504242| 13.476.981| __63.691.077| 6.938.588]',
 '1. sales revenue _ - 2 67.8333 4620.396| 79.544.5 5.809.695',
 're â\x80\x94 â\x80\x94â\x80\x94 113 | 18.780.883| aasases| taste] 1.125.090',
 'i operating expenses (11541 16+120+124+125+126+129+130) - 114 7.809.263] 19.954.286| 65.193.618| 8.740.542',
 '1 chang. jentories of finisi _â\x80\x94 115 â\x80\x94 = _',
 '2 raw material and consumables used (117 do 119) _ 116 38.848.455| 4.723.361] 40199.646 5.964.960)',
 'a) cost of raw materials & consumables _ 18.621.778| 1.345.271] 20.46.8568 2.461.117',
 'b) cost of goods sold _ _ 109.316 4.990] 102.543 688)',
 'â©) othercosts : iavraei| __3873.100| 10680216| 3.504531',
 'st ( _ ~22:576.409| _.694.127| _28.273.270| 7.300.775',
 '3a) not salaries - ~ | 14720470| 364.058] 18620215 500.011',
 '|b) employee income tax and contributions _ _â\x80\x94 422 4.817 694] 1.123.655] 5.859.267 1.389.856]',
 'â¢) employers contributions _ 123 3.030 246| t2748 3.784.788) 907.008]',
 '- 24 | |___2.807.756| 9.527.651 2970376)',
 '',
 ' ',
 '',
 '      ',
 '',
 '714] 2.377.344]',
 '',
 '14| 6.286.402| 1.663.078]',
 '126 1.960.449 1.886.449)',
 '',
 '107.143]',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '  ',
 '',
 '6. impairment los:',
 '',
 '   ',
 '',
 ' ',
 '',
 '   ',
 '',
 ' ',
 '',
 '   ',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '  ',
 '',
 'a) non-cu â\x80\x9c127 | 1487 760] 1.457 760 a)',
 'â»)curent 428 660| 428-669 sora 17 43}',
 '7. provisions â\x80\x94 129 | sre.rss}_era.7as 506.377 506 377',
 '8. other operating expenses 130 891.498] 1.806.814 293.150] 227.883',
 '510.520] 240.863) 1.387.571 178.348',
 '41616] 160.202 1.06.15 103.380',
 '| sossi) ai at 74986',
 'oo 47.264 d0ss.ies| 1.697.546',
 'axpenses with related parties :',
 '',
 '2 interest hange di â\x80\x98ar',
 '',
 'it foreign exchange differences and other expenses with non-related and other 139 1.437.407] 47.254] 4.085.166 1.897.648]',
 '',
 'entities',
 'unrealized losses fee',
 '',
 '   ',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 'â\x80\x98share of income of associates',
 '\\vi._share of loss of associates',
 'vl. extraordinary - other income',
 'vill. extraordinary - other expenses.',
 'ix. total income (11141314142 + 144)',
 "'x._total expenses (114+137+143 + 145)_",
 'â\x80\x98xl profit or loss before tax (146-147)',
 '',
 '   ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '84094.72 13715804] __85.078.648',
 '__79.246.890 20.601.540| 9.278.784 r',
 '5.736) 4.200.136] 13.521.254]',
 '',
 ' ',
 '',
 ' ',
 '',
 '   ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '        ',
 '',
 ' ',
 '',
 '   ',
 '',
 '     ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 '- 4.848.082',
 '2. loss before tax (147-148) - 0] 6.685.736 43521 254]',
 'xil income tax expens 1.013.464 -',
 '|xil profit or loss for the period (148-151) _ â\x80\x94 152 | 6.885.736) 4.200.136 413.521.2564]',
 '1. profit for the period ( 51) - 153.',
 '2. loss for the period (151-148) 154 6.885.736; 4.200.136 43.521 254',
 '',
 ' ',
 '',
 ' ',
 '',
 'jannex to the profit and loss account (to be filled in by entities submitting consolidated financial statements)',
 '',
 'xiv. profit or loss for the period â\x80\x94 â\x80\x94â\x80\x94â\x80\x94_',
 '',
 '1',
 '',
 '     ',
 '',
 ' ',
 '',
 ' ',
 '',
 '   ',
 '',
 ' ',
 '',
 ' ',
 '',
 ' ',
 '',
 ...]

In [23]:
initialdf

,Docid,Company,Companyid,Language
0,245313814.pdf,EPCOR Utilities Inc.,NaN,NaN
1,252498972.pdf,Willis Towers Watson Public Limited Company,NaN,NaN
2,259340888.pdf,Unable to extract text,NaN,NaN
3,291532030.pdf,Unable to extract text,NaN,NaN
4,298587708.pdf,Unable to extract text,NaN,NaN
5,314963012.pdf,Unable to extract text,NaN,NaN
6,324738276.pdf,Unable to extract text,NaN,NaN
7,326067308.pdf,Unable to extract text,NaN,NaN
8,328799920.pdf,Unable to extract text,NaN,NaN
9,336442278.pdf,Unable to extract text,NaN,NaN
10,346176522.pdf,Ambani Organics Limited,NaN,NaN
11,366691984.pdf,Unable to extract text,NaN,NaN
12,385232890.pdf,Unable to extract text,NaN,NaN
13,387477886.pdf,Unable to extract text,NaN,NaN
14,387655272.pdf,Unable to extract text,NaN,NaN
15,394897558.pdf,Unable to extract text,NaN,NaN
16,396178302.pdf,Unable to extract text,NaN,NaN
17,401875986.pdf,Unable to extract text,NaN,NaN
18,417417336.pdf,Unable to extract text,NaN,NaN
19,418570702.pdf,Unable to extract text,NaN,NaN
20,429061514.pdf,Unable to extract text,NaN,NaN
21,429257488.pdf,Unable to extract text,NaN,NaN
22,429257490.pdf,Unable to extract text,NaN,NaN
23,429257492.pdf,Unable to extract text,NaN,NaN
24,429409456.pdf,Unable to extract text,NaN,NaN
25,429409458.pdf,Unable to extract text,NaN,NaN
26,430906684.pdf,"Harbor Star Shipping Services, Inc.",NaN,NaN
27,432380184.pdf,BSE Limited,NaN,NaN
28,432380202.pdf,BSE Limited,NaN,NaN
29,432577360.pdf,BSE Limited,NaN,NaN
...,...,...,...,...
603,488521064.pdf,Unable to extract text,NaN,NaN
604,488521120.pdf,National Stock Exchange of India Limited,NaN,NaN
605,488521120.pdf,BSE Limited,NaN,NaN
606,488523636.pdf,BSE Limited,NaN,NaN
607,488523636.pdf,Pacheli Industrial Finance Limited,NaN,NaN
608,488523944.pdf,Unable to extract text,NaN,NaN
609,488524050.pdf,Unable to extract text,NaN,NaN
610,488525920.pdf,Unable to extract text,NaN,NaN
611,488526530.pdf,BSE Limited,NaN,NaN
612,488527866.pdf,Unable to extract text,NaN,NaN
613,488527868.pdf,Unable to extract text,NaN,NaN
614,488529186.pdf,The Standard Batteries Limited,NaN,NaN
615,488529238.pdf,Unable to extract text,NaN,NaN
616,488529822.pdf,Unable to extract text,NaN,NaN
617,488529868.pdf,BSE Limited,NaN,NaN
618,488535324.pdf,Unable to extract text,NaN,NaN
619,488535356.pdf,Unable to extract text,NaN,NaN
620,488545962.pdf,NWS Holdings Limited,NaN,NaN
621,488560174.pdf,Unable to extract text,NaN,NaN
622,488564220.pdf,Unable to extract text,NaN,NaN
623,488568712.pdf,Unable to extract text,NaN,NaN
624,488571506.pdf,Unable to extract text,NaN,NaN
625,488572494.pdf,Unable to extract text,NaN,NaN
626,488574704.pdf,Unable to extract text,NaN,NaN
627,488574706.pdf,Unable to extract text,NaN,NaN
628,488574826.pdf,Unable to extract text,NaN,NaN
629,488574828.pdf,Unable to extract text,NaN,NaN
630,488578232.pdf,Unable to extract text,NaN,NaN
631,488582714.pdf,Unable to extract text,NaN,NaN
632,488588252.pdf,Unable to extract text,NaN,NaN

In [55]:
list(set([x for x in comp_master['Company Name'] if x in txt]))

[]

In [50]:
comp_master["ALTERNATENAME"]=comp_master["ALTERNATENAME"].str.lower()
comp_master['Company Name']=comp_master['Company Name'].str.lower()

In [76]:
lst=[]
for i in txt:
    lst=(comp_master[comp_master['ALTERNATENAME'].str.contains(i,na=False,regex=False)]['CompanyId'])

In [79]:
lst[:0]

Series([], Name: CompanyId, dtype: int64)

In [ ]:
a=[]
a=list(map(lambda x:(comp_master[comp_master['ALTERNATENAME'].str.contains(x,na=False,regex=False)]['CompanyId']),txt))

In [25]:
comp=list(set([x for x in comp_master['Company Name'] if str(x).lower() in txt]))
comp1=list(set([x for x in comp_master['ALTERNATENAME'] if str(x).lower() in txt]))
comp1

[' ']