In [2]:
#NLTK and Other Libraries
import os
import io
import re
import itertools
import operator
from collections import Counter
from langdetect import detect
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from os import listdir
from os.path import isfile, join
from io import StringIO
import pandas as pd
import numpy as np
import spacy
from difflib import SequenceMatcher
import en_core_web_sm
nlp = en_core_web_sm.load()

#Data Visualization Libraries
import matplotlib.pyplot as plt
from matplotlib.patches import Patch
from matplotlib.markers import MarkerStyle
import seaborn as sns

#Date time Libraries
import time
import datetime

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\lingadhar_duggirala\AppData\Roaming\nltk_data
[nltk_data]     ...
[nltk_data]   Package stopwords is already up-to-date!

In [166]:
sec_metadata=pd.read_excel("C:\\Users\\lingadhar_duggirala\\Desktop\\Metadata_Validation\\Sample Metadata SEC_Final.xlsx")

In [162]:
sec_metadata["Has Income Statement Flag"].value_counts()

True     1939
False    1132
Name: Has Income Statement Flag, dtype: int64

In [175]:
sec_metadata.PeriodType.value_counts()

Quarter       2073
Annual         877
SemiAnnual      22
Name: PeriodType, dtype: int64

In [180]:
a=sec_metadata[(sec_metadata["Has Income Statement Flag"]==False)&(sec_metadata.PeriodType.isin(["Annual","Quarter","SemiAnnual"]))]

In [184]:
sec_metadata_final=sec_metadata.merge(a, indicator=True, how="left")[lambda x: x._merge=='left_only'].drop('_merge',1)

In [201]:
sec_metadata_final[~sec_metadata_final["PeriodType"].isna()]["Has Income Statement Flag"].

array([ True])

In [185]:
sec_metadata_final["Has Income Statement Flag"].value_counts()

True     1939
False      99
Name: Has Income Statement Flag, dtype: int64

In [13]:
sec_metadata[sec_metadata.VersionId==97924048]

,DocumentId,doc cnt,VersionId,CompanyId,Company Name,documentToObjectRelId,elementGroupId,PeriodOfReport,Language,FilingDate,FilingDateSource,PeriodType,Has Income Statement Flag,Is Preliminary Flag,Is Amendment Flag,Is Errata Amendment Flag,Has Notes Flag,Has Audited Financials Flag,Category
0,322994151,4,97924048,24927252,Noranda Alumina LLC,347206249,-1295509969,2009-08-31,English,2010-05-14 16:28:42,Filing date on the website,Quarter,True,0.0,0.0,0.0,1.0,0.0,VALIDATION
1,322994151,4,97924048,24927252,Noranda Alumina LLC,347206249,-1295509965,2008-12-31,English,2010-05-14 16:28:42,Filing date on the website,Annual,True,0.0,0.0,0.0,1.0,1.0,TRAIN
2,322994151,4,97924048,34074951,Noranda Aluminum Holding Corporation,82561871,-2143476676,2010-03-31,English,2010-05-14 16:28:42,Filing date on the website,Quarter,True,0.0,0.0,0.0,1.0,0.0,VALIDATION
3,322994151,4,97924048,34074951,Noranda Aluminum Holding Corporation,82561871,363713659,2009-12-31,English,2010-05-14 16:28:42,Filing date on the website,Annual,True,0.0,0.0,0.0,1.0,1.0,TRAIN

In [14]:
sec_metadata.columns

Index(['DocumentId', 'doc cnt', 'VersionId', 'CompanyId', 'Company Name',
       'documentToObjectRelId', 'elementGroupId', 'PeriodOfReport', 'Language',
       'FilingDate', 'FilingDateSource', 'PeriodType',
       'Has Income Statement Flag', 'Is Preliminary Flag', 'Is Amendment Flag',
       'Is Errata Amendment Flag', 'Has Notes Flag',
       'Has Audited Financials Flag', 'Category'],
      dtype='object')

In [164]:
sec_metadata_final[sec_metadata_final.VersionId==491529222]

,VersionId,CompanyId,Company Name,PeriodOfReport,PeriodType,Has Income Statement Flag,Is Preliminary Flag,Is Amendment Flag,Has Audited Financials Flag
577,491529222,45842867,"Business First Bancshares, Inc.",2017-12-31,Annual,True,1.0,0.0,NaN
579,491529222,45842867,"Business First Bancshares, Inc.",2018-06-30,Quarter,True,1.0,0.0,NaN

In [186]:
sec_metadata_final["Has Income Statement Flag"].value_counts()

True     1939
False      99
Name: Has Income Statement Flag, dtype: int64

In [96]:
sec_metadata_final.shape

(2946, 9)

In [29]:
sec_metadata_final[sec_metadata_final.VersionId==259118202]

,VersionId,CompanyId,Company Name,PeriodOfReport,PeriodType,Has Income Statement Flag,Is Preliminary Flag,Is Amendment Flag,Has Audited Financials Flag
653,259118202,25070108,Orpak Systems Ltd.,NaT,NaN,False,NaN,NaN,NaN
654,259118202,318505463,Fortive Corporation,2017-12-31,Annual,True,0.0,0.0,1.0

In [30]:
sec_metadata_final[sec_metadata_final.VersionId==230292662]

,VersionId,CompanyId,Company Name,PeriodOfReport,PeriodType,Has Income Statement Flag,Is Preliminary Flag,Is Amendment Flag,Has Audited Financials Flag
645,230292662,332358,"Mid-America Apartment Communities, Inc.",2017-12-31,Annual,True,1.0,0.0,NaN
646,230292662,332358,"Mid-America Apartment Communities, Inc.",2017-12-31,Quarter,True,1.0,0.0,NaN
647,230292662,27525007,"Mid-America Apartments, L.P.",NaT,NaN,False,NaN,NaN,NaN

In [58]:
sec_metadata_final[sec_metadata_final.VersionId==230292662]

,VersionId,CompanyId,Company Name,PeriodOfReport,PeriodType,Has Income Statement Flag,Is Preliminary Flag,Is Amendment Flag,Has Audited Financials Flag
645,230292662,332358,"Mid-America Apartment Communities, Inc.",2017-12-31,Annual,True,1.0,0.0,NaN
646,230292662,332358,"Mid-America Apartment Communities, Inc.",2017-12-31,Quarter,True,1.0,0.0,NaN

In [31]:
sec_metadata_final[sec_metadata_final.VersionId==285661030]

,VersionId,CompanyId,Company Name,PeriodOfReport,PeriodType,Has Income Statement Flag,Is Preliminary Flag,Is Amendment Flag,Has Audited Financials Flag
668,285661030,174901,Dover Corporation,2018-03-22,Quarter,False,0.0,1.0,NaN
669,285661030,545985501,Apergy Corporation,2018-05-04,Quarter,False,0.0,0.0,NaN

In [249]:
k=0
onlyfiles = [f for f in listdir('C:\\Users\\lingadhar_duggirala\\Desktop\\Metadata_Validation\\SEC_TRAIN') if isfile(join('C:\\Users\\lingadhar_duggirala\\Desktop\\Metadata_Validation\\SEC_TRAIN', f))]
os.chdir('C:\\Users\\lingadhar_duggirala\\Desktop\\Metadata_Validation\\SEC_TRAIN')
mv_df_inc=pd.DataFrame(columns=(['versionid',"companyname","incomeflag"]))
for file in onlyfiles:
    lin=""
    print(file)
    a=file
    mv_df_inc.loc[k,['versionid']]=os.path.splitext(a)[0]
    with open(file,encoding="utf8") as input_data:
        for line in input_data:
            mv_df_inc.loc[k,['companyname']]=line.split(" ",1)[1].strip().split("  ",1)[0]
            break
        for line in input_data:
            if any(x in line.lower() for x in ["consolidated statements","consolidated statement","condensed","statement","data"]):
                if any(x in line.lower() for x in ["operations","income","financial","earnings"]):
                    if line.strip()[0].isupper():
                        #if line.strip().istitle():
                        lin+=line
    if len(lin)==0:
        mv_df_inc.loc[k,['incomeflag']]=False
        k+=1
    else:
        mv_df_inc.loc[k,['incomeflag']]=True
        k+=1

175605384.txt
209271852.txt
226135784.txt
226157588.txt
230288860.txt
230292662.txt
232460148.txt
236972360.txt
237114582.txt
237143018.txt
239593846.txt
242236708.txt
242607122.txt
243576070.txt
243724800.txt
244735926.txt
244842314.txt
246273214.txt
249898752.txt
250984690.txt
252567172.txt
252688048.txt
253498342.txt
253651946.txt
253715340.txt
253827726.txt
253835662.txt
253874620.txt
253891268.txt
256166326.txt
256378252.txt
256468776.txt
257505788.txt
258140358.txt
258228198.txt
258264294.txt
258370180.txt
259118202.txt
259585392.txt
259602418.txt
259720618.txt
259844898.txt
259903996.txt
260833248.txt
260845914.txt
261066672.txt
261273360.txt
261556614.txt
261655748.txt
261699460.txt
261699932.txt
261757808.txt
263058312.txt
263081942.txt
264921594.txt
267882938.txt
270663546.txt
273075380.txt
273186958.txt
275798274.txt
278984340.txt
279035452.txt
281045440.txt
282977390.txt
285534432.txt
285661030.txt
291242490.txt
291393110.txt
291449076.txt
292669118.txt
300835588.txt
301798492.txt
301854218.txt
308284998.txt
312480030.txt
312505476.txt
313669650.txt
316628130.txt
320899274.txt
323990380.txt
325106224.txt
325184822.txt
325989758.txt
328663138.txt
329835038.txt
329926902.txt
330138130.txt
331404256.txt
331528428.txt
331578078.txt
331588746.txt
332386300.txt
333057936.txt
333088906.txt
333111128.txt
333136272.txt
333146662.txt
333190494.txt
333216176.txt
333810992.txt
334043162.txt
334312180.txt
336497652.txt
336892092.txt
336996274.txt
337002670.txt
338198104.txt
338279278.txt
338279360.txt
338288258.txt
338885212.txt
339609058.txt
339641640.txt
339642784.txt
339651240.txt
340602140.txt
340663782.txt
341004948.txt
341132526.txt
341260732.txt
341277002.txt
341282616.txt
341286458.txt
341989708.txt
342574798.txt
344521284.txt
344971490.txt
346644152.txt
346662978.txt
346709082.txt
350666530.txt
352923750.txt
352929556.txt
353540126.txt
357668854.txt
362642624.txt
363713920.txt
368661212.txt
372081496.txt
374548560.txt
374867996.txt
375935682.txt
380175644.txt
380416374.txt
380436896.txt
380939024.txt
382989816.txt
383711294.txt
385995688.txt
395995252.txt
398046082.txt
398885058.txt
400633082.txt
400985286.txt
405155446.txt
405331606.txt
409267566.txt
412132480.txt
413244334.txt
413455312.txt
413495554.txt
414662686.txt
414810760.txt
414833236.txt
414848878.txt
417625668.txt
417642938.txt
417663030.txt
418293394.txt
418836390.txt
418842396.txt
419829242.txt
419909622.txt
419912984.txt
419931166.txt
419940828.txt
419943452.txt
420662276.txt
421081466.txt
421176458.txt
421247348.txt
421272448.txt
421872410.txt
421875480.txt
421884040.txt
421887282.txt
422158888.txt
422303924.txt
422310108.txt
422340224.txt
422341098.txt
422346466.txt
422353002.txt
422364226.txt
424426492.txt
424516902.txt
424566176.txt
424597068.txt
425098078.txt
425369866.txt
425485968.txt
425504726.txt
425514090.txt
425517072.txt
425582540.txt
426197614.txt
426205684.txt
426206794.txt
426215206.txt
426395458.txt
426488448.txt
426507936.txt
426710194.txt
426731752.txt
426757198.txt
428040326.txt
428062522.txt
428074742.txt
428075076.txt
428085664.txt
428108376.txt
428123212.txt
428918380.txt
429242558.txt
429489176.txt
429506622.txt
429521846.txt
429521860.txt
431270006.txt
431473818.txt
432854026.txt
432897578.txt
433830952.txt
435690540.txt
439799402.txt
439837496.txt
439888188.txt
439900428.txt
441808562.txt
443581884.txt
443915924.txt
443916182.txt
443916278.txt
444879438.txt
447617684.txt
448745754.txt
449218436.txt
450254328.txt
450293694.txt
450294170.txt
450294478.txt
451959382.txt
452242548.txt
452306444.txt
454695766.txt
455846206.txt
457873668.txt
458331770.txt
458333290.txt
458333294.txt
458334240.txt
458347794.txt
458369096.txt
460952218.txt
462709472.txt
462712016.txt
463711944.txt
463713022.txt
464164166.txt
465524090.txt
465536652.txt
465558114.txt
465923160.txt
465925770.txt
465926250.txt
465940972.txt
465941688.txt
466353038.txt
466354734.txt
466365002.txt
466430770.txt
466490072.txt
466500520.txt
466558186.txt
466879226.txt
466973838.txt
466974132.txt
466974388.txt
466975082.txt
466977520.txt
466979420.txt
466981182.txt
466988160.txt
466991374.txt
466994892.txt
467001736.txt
467467766.txt
467468470.txt
467612212.txt
467612458.txt
467631940.txt
467690812.txt
467721554.txt
467728758.txt
467730182.txt
467738128.txt
467738830.txt
467738852.txt
467738952.txt
467740690.txt
467744434.txt
467745446.txt
467787610.txt
467790970.txt
467807358.txt
467809824.txt
467813172.txt
467815274.txt
467836030.txt
467840930.txt
467842988.txt
467845374.txt
467845528.txt
467847304.txt
467847380.txt
467847432.txt
467847452.txt
467848238.txt
467848274.txt
467848378.txt
467853122.txt
467853708.txt
467853790.txt
467855382.txt
467856126.txt
467856394.txt
467857438.txt
467857784.txt
467858330.txt
467858358.txt
467859448.txt
467859850.txt
467866122.txt
467866274.txt
467866850.txt
467869122.txt
467870730.txt
467873280.txt
467873800.txt
467876524.txt
467876850.txt
467876908.txt
467878082.txt
467878322.txt
467878718.txt
467878752.txt
467879194.txt
467879282.txt
468451008.txt
468452392.txt
468452954.txt
468454600.txt
468455442.txt
468455478.txt
468456474.txt
468457282.txt
468459258.txt
468459580.txt
468460076.txt
468463056.txt
468464986.txt
468467372.txt
468477936.txt
468480582.txt
468484890.txt
468485774.txt
468489150.txt
468490434.txt
468514458.txt
468514618.txt
468520736.txt
468523988.txt
468525652.txt
468528594.txt
468573988.txt
468580522.txt
468608372.txt
468617762.txt
468618764.txt
468626098.txt
468637014.txt
468637088.txt
468641574.txt
468643112.txt
468647976.txt
468670198.txt
468671416.txt
468689716.txt
468696716.txt
468707456.txt
468741250.txt
468745266.txt
468776528.txt
468776754.txt
468793008.txt
468797358.txt
468798554.txt
468814060.txt
468825892.txt
468834988.txt
468837168.txt
468839976.txt
468840676.txt
468850610.txt
468852186.txt
468854488.txt
468855850.txt
468867336.txt
468867538.txt
468869000.txt
468869134.txt
468870690.txt
468870826.txt
468871876.txt
468873352.txt
468873668.txt
468873788.txt
468874648.txt
468878522.txt
468880432.txt
468880486.txt
468880488.txt
468880496.txt
468881772.txt
468882122.txt
468882194.txt
468888960.txt
469245460.txt
469252288.txt
469253690.txt
469256296.txt
469258478.txt
469258736.txt
469265298.txt
469269306.txt
469271394.txt
469271504.txt
469278384.txt
469287408.txt
469288418.txt
469289554.txt
469289676.txt
469291004.txt
469326890.txt
469366694.txt
469382556.txt
469410990.txt
469423326.txt
469434124.txt
469441048.txt
469441416.txt
469448068.txt
469498218.txt
469501480.txt
469501566.txt
469501618.txt
469502890.txt
469508322.txt
469508920.txt
469514408.txt
469534302.txt
469539466.txt
469545322.txt
469580232.txt
469586852.txt
469593866.txt
469615140.txt
469617442.txt
469632220.txt
469632322.txt
469632436.txt
469632788.txt
469634866.txt
469635820.txt
469637314.txt
469637338.txt
469637516.txt
469638672.txt
469639166.txt
469640564.txt
469641210.txt
469641740.txt
469642078.txt
469642202.txt
469642264.txt
469642282.txt
469643942.txt
469644866.txt
469645262.txt
469648246.txt
469653534.txt
469654212.txt
469654868.txt
469655386.txt
469655414.txt
469656026.txt
469656284.txt
469656362.txt
469657138.txt
469658682.txt
469658696.txt
469658966.txt
469659162.txt
469660468.txt
469660646.txt
469661370.txt
469661384.txt
469661386.txt
469661422.txt
469662490.txt
469662746.txt
469662770.txt
470948384.txt
470951366.txt
470951920.txt
470951990.txt
470952558.txt
470954324.txt
470954660.txt
470955102.txt
470956048.txt
470959112.txt
470959184.txt
470959560.txt
470960148.txt
470962444.txt
470966064.txt
470966076.txt
470966638.txt
470966918.txt
470970430.txt
470990088.txt
470991612.txt
470992292.txt
471007820.txt
471008092.txt
471012548.txt
471049378.txt
471072394.txt
471073532.txt
471078636.txt
471080262.txt
471080294.txt
471123204.txt
471130304.txt
471176160.txt
471208214.txt
471225084.txt
471227180.txt
471242216.txt
471243170.txt
471275988.txt
471284364.txt
471284486.txt
471289110.txt
471293976.txt
471301274.txt
471302148.txt
471307158.txt
471314848.txt
471315874.txt
471325206.txt
471327798.txt
471331916.txt
471332244.txt
471332520.txt
471332930.txt
471334764.txt
471334814.txt
471334970.txt
471335502.txt
471335508.txt
471336734.txt
471337592.txt
471337698.txt

471338908.txt
471339086.txt
471339880.txt
471340572.txt
471340594.txt
471341822.txt
471342308.txt
471342868.txt
471342954.txt
471343010.txt
471343498.txt
471343984.txt
471346522.txt
471348592.txt
471348794.txt
471349672.txt
471349678.txt
471350510.txt
471351264.txt
471351616.txt
471352770.txt
471352954.txt
471353888.txt
471356462.txt
471358032.txt
471358164.txt
471367136.txt
471367146.txt
471367194.txt
471367494.txt
471368794.txt
471369252.txt
471370952.txt
471373380.txt
471438356.txt
471438562.txt
471439452.txt
471439642.txt
471439654.txt
471439732.txt
471439740.txt
471440742.txt
471444576.txt
471444584.txt
471444594.txt
471444786.txt
471722940.txt
471724936.txt
471725320.txt
471725516.txt
471725606.txt
471727162.txt
471727408.txt
471727630.txt
471727786.txt
471727788.txt
471729450.txt
471729850.txt
471736558.txt
471740776.txt
471775728.txt
471779360.txt
471779652.txt
471781914.txt
471785430.txt
471786042.txt
471798508.txt
471800736.txt
471800780.txt
471811774.txt
471812656.txt
471814570.txt
471820136.txt
471845902.txt
471854102.txt
471863468.txt
471866930.txt
471869654.txt
471870100.txt
471871350.txt
471873168.txt
471875348.txt
471902306.txt
471932600.txt
471933288.txt
471935594.txt
471937688.txt
471956460.txt
471956550.txt
471963120.txt
471992404.txt
471994302.txt
471994636.txt
471996098.txt
471999984.txt
472021782.txt
472022782.txt
472052150.txt
472062560.txt
472074836.txt
472081206.txt
472083044.txt
472083096.txt
472088718.txt
472094674.txt
472099440.txt
472104184.txt
472105818.txt
472107514.txt
472108994.txt
472109340.txt
472110896.txt
472111076.txt
472111212.txt
472111896.txt
472111986.txt
472112510.txt
472112766.txt
472112812.txt
472113728.txt
472116008.txt
472118716.txt
472120066.txt
472143492.txt
472148894.txt
472152554.txt
472157570.txt
472163934.txt
472164888.txt
472166402.txt
472168976.txt
472176622.txt
472177000.txt
472180094.txt
472182758.txt
472183236.txt
472184382.txt
472188770.txt
472188928.txt
472195990.txt
472195998.txt
472197230.txt
472583448.txt
472583506.txt
472587728.txt
472588006.txt
472588016.txt
472588640.txt
472589128.txt
472589450.txt
472591492.txt
472595614.txt
472596602.txt
472597436.txt
472606536.txt
472613588.txt
472613598.txt
472620540.txt
472653862.txt
472656804.txt
472666738.txt
472674836.txt
472700008.txt
472735802.txt
472737398.txt
472761982.txt
472785324.txt
472787788.txt
472789906.txt
472818362.txt
472839092.txt
472846432.txt
472864448.txt
472889090.txt
472933006.txt
472934318.txt
472938878.txt
472940700.txt
472947904.txt
472955774.txt
472959246.txt
472982828.txt
472983336.txt
472985016.txt
472986028.txt
472986186.txt
472986798.txt
472988372.txt
472989188.txt
472989228.txt
472990140.txt
472990954.txt
472991520.txt
472993878.txt
472994538.txt
472994542.txt
472994674.txt
472996866.txt
472997384.txt
472997456.txt
472998066.txt
472998316.txt
473003454.txt
473006154.txt
473006592.txt
473010842.txt
473014844.txt
473014850.txt
473016402.txt
473016692.txt
473018550.txt
473019810.txt
473020034.txt
473023988.txt
473024132.txt
473025266.txt
473026814.txt
473027638.txt
473028770.txt
473059490.txt
473068862.txt
473070962.txt
473573654.txt
473574006.txt
473578346.txt
473578554.txt
473578610.txt
473580822.txt
473580882.txt
473581688.txt
473587640.txt
473594766.txt
473611480.txt
473616218.txt
473617478.txt
473617722.txt
473622198.txt
473624090.txt
473624642.txt
473629484.txt
473640406.txt
473640564.txt
473643164.txt
473654356.txt
473655076.txt
473655696.txt
473694184.txt
473707208.txt
473718430.txt
473734212.txt
473744724.txt
473744986.txt
473745796.txt
473754308.txt
473754364.txt
473754376.txt
473756440.txt
473757640.txt
473758680.txt
473764160.txt
473781418.txt
473781558.txt
473799520.txt
473803542.txt
473809074.txt
473829690.txt
473855982.txt
473874398.txt
473896340.txt
473924808.txt
473962806.txt
473992288.txt
474006460.txt
474019052.txt
474020912.txt
474022502.txt
474027710.txt
474037812.txt
474041754.txt
474042668.txt
474043940.txt
474047942.txt
474052160.txt
474065038.txt
474066862.txt
474074784.txt
474076286.txt
474076726.txt
474077678.txt
474078168.txt
474078876.txt
474079144.txt
474080382.txt
474080476.txt
474082870.txt
474082894.txt
474083286.txt
474083316.txt
474083418.txt
474083750.txt
474089238.txt
474091476.txt
474091550.txt
474092280.txt
474092400.txt
474092972.txt
474093160.txt
474093696.txt
474093740.txt
474094262.txt
474094520.txt
474099808.txt
474101000.txt
474103604.txt
474105762.txt
474107018.txt
474107310.txt
474109874.txt
474110026.txt
474111948.txt
474112030.txt
474112690.txt
474112810.txt
474115446.txt
474115894.txt
474115898.txt
474117408.txt
474117840.txt
474118046.txt
474118444.txt
474119108.txt
474119236.txt
474119602.txt
474120194.txt
474122670.txt
474682564.txt
474683860.txt
474691002.txt
474692168.txt
474694834.txt
474695806.txt
474697196.txt
474697698.txt
474699990.txt
474701772.txt
474755322.txt
474758386.txt
474760186.txt
474773542.txt
474782496.txt
474795702.txt
474820836.txt
474841794.txt
474851224.txt
474863602.txt
474870814.txt
474871542.txt
474874860.txt
474877910.txt
474881790.txt
474896712.txt
474907902.txt
474965958.txt
474983486.txt
475012396.txt
475032404.txt
475033464.txt
475035378.txt
475044832.txt
475060526.txt
475066742.txt
475094788.txt
475102830.txt
475153696.txt
475186576.txt
475193582.txt
475199594.txt
475261766.txt
475270746.txt
475275462.txt
475278334.txt
475289188.txt
475290038.txt
475290432.txt
475293988.txt
475298846.txt
475301024.txt
475301452.txt
475302026.txt
475302236.txt
475303924.txt
475305398.txt
475307532.txt
475309028.txt
475312604.txt
475313668.txt
475315474.txt
475317062.txt
475318188.txt
475323272.txt
475323640.txt
475325876.txt
475326446.txt
475328428.txt
475328880.txt
475329880.txt
475329900.txt
475329942.txt
475330154.txt
475330280.txt
475330610.txt
475331004.txt
475331198.txt
475331354.txt
475333900.txt
475334030.txt
475334138.txt
475334750.txt
475336158.txt
475336344.txt
475346018.txt
475350836.txt
475353752.txt
475353960.txt
475355820.txt
475360588.txt
475368262.txt
475371556.txt
475384752.txt
475390758.txt
475390766.txt
475390898.txt
475393442.txt
475394716.txt
475399230.txt
475399610.txt
475402666.txt
475404634.txt
475406702.txt
475407918.txt
475409218.txt
475411016.txt
475411098.txt
475411276.txt
475412278.txt
475414078.txt
475414244.txt
475414550.txt
475417156.txt
475417548.txt
475418638.txt
475424266.txt
475424328.txt
475424338.txt
475424480.txt
475424732.txt
476734424.txt
476734738.txt
476735480.txt
476735538.txt
476747374.txt
476747546.txt
476750910.txt
476751028.txt
476751846.txt
476751916.txt
476752790.txt
476752794.txt
476752960.txt
476753120.txt
476753206.txt
476753252.txt
476753866.txt
476754026.txt
476756420.txt
476761524.txt
476762252.txt
476766916.txt
476767760.txt
476774398.txt
476779940.txt
476784336.txt
476821760.txt
476831904.txt
476854676.txt
476867442.txt
476871836.txt
476876122.txt
476876426.txt
476876568.txt
476898858.txt
476903936.txt
476907094.txt
476915060.txt
476922068.txt
476937590.txt
476943140.txt
476981652.txt
477010252.txt
477031984.txt
477075548.txt
477076618.txt
477078154.txt
477099216.txt
477126092.txt
477131666.txt
477159112.txt
477175480.txt
477178396.txt
477182112.txt
477183258.txt
477183722.txt
477187832.txt
477190206.txt
477192626.txt
477194016.txt
477196330.txt
477196664.txt
477197142.txt
477199822.txt
477201638.txt
477201996.txt
477205816.txt
477211456.txt
477212756.txt
477213720.txt
477214022.txt
477214976.txt
477215146.txt
477215740.txt
477215742.txt
477215764.txt
477216874.txt
477216916.txt
477219594.txt
477221846.txt
477224178.txt
477228302.txt
477229538.txt
477229858.txt
477234422.txt
477235502.txt
477235546.txt
477241258.txt
477244784.txt
477248074.txt
477249472.txt
477249538.txt
477249772.txt
477250140.txt
477250358.txt
477251516.txt
477251856.txt
477251862.txt
477251864.txt
477251914.txt
477252196.txt
477640042.txt
477640072.txt
477640308.txt
477642834.txt
477645734.txt
477645768.txt
477645784.txt
477645828.txt
477645856.txt
477646306.txt
477646862.txt
477646912.txt
477647096.txt
477647398.txt
477647880.txt
477648340.txt
477655542.txt
477660300.txt
477675014.txt
477695816.txt
477704068.txt
477705496.txt
477707542.txt
477730016.txt
477738902.txt
477738988.txt
477742316.txt
477745830.txt

477746362.txt
477749356.txt
477779596.txt
477782276.txt
477784694.txt
477785082.txt
477785878.txt
477787830.txt
477797468.txt
477810762.txt
477814142.txt
477869622.txt
477887590.txt
477896794.txt
477900588.txt
477914856.txt
477943216.txt
477993898.txt
478003336.txt
478009080.txt
478016144.txt
478016784.txt
478033228.txt
478036416.txt
478050230.txt
478063634.txt
478063722.txt
478063786.txt
478066258.txt
478066522.txt
478069716.txt
478070760.txt
478072374.txt
478072532.txt
478074270.txt
478074874.txt
478079492.txt
478080154.txt
478082496.txt
478082624.txt
478083326.txt
478083578.txt
478084156.txt
478085262.txt
478086456.txt
478094168.txt
478096780.txt
478098648.txt
478098770.txt
478100790.txt
478103562.txt
478108324.txt
478110292.txt
478110710.txt
478110986.txt
478488010.txt
478489604.txt
478490330.txt
478490426.txt
478490688.txt
478490806.txt
478490932.txt
478490944.txt
478491182.txt
478493726.txt
478494108.txt
478513056.txt
478514498.txt
478528392.txt
478528404.txt
478535276.txt
478535324.txt
478547910.txt
478570688.txt
478572230.txt
478572396.txt
478578628.txt
478583716.txt
478600566.txt
478603478.txt
478605656.txt
478640300.txt
478641412.txt
478697264.txt
478737380.txt
478766556.txt
478773408.txt
478777380.txt
478805840.txt
478810174.txt
478810342.txt
478812038.txt
478818358.txt
478822062.txt
478844998.txt
478872660.txt
478880828.txt
478881488.txt
478884894.txt
478885000.txt
478885082.txt
478886170.txt
478886754.txt
478887152.txt
478887294.txt
478889114.txt
478889264.txt
478890028.txt
478890524.txt
478894742.txt
478895360.txt
478897502.txt
478899002.txt
478901086.txt
478901144.txt
478902938.txt
478905482.txt
478908882.txt
478909326.txt
478909486.txt
478909758.txt
478910208.txt
478911420.txt
478911764.txt
478912256.txt
478915282.txt
478918824.txt
478919280.txt
478919668.txt
478921102.txt
478924234.txt
478925322.txt
478925488.txt
478927224.txt
478927922.txt
478927952.txt
479495574.txt
479499150.txt
479499546.txt
479501008.txt
479501682.txt
479502740.txt
479503568.txt
479505248.txt
479512490.txt
479609008.txt
479613116.txt
479676328.txt
479679072.txt
479680036.txt
479682068.txt
479739338.txt
479741828.txt
479768366.txt
479769238.txt
479798318.txt
479800616.txt
479804914.txt
479806146.txt
479806352.txt
479807258.txt
479807506.txt
479807942.txt
479809044.txt
479809954.txt
479810388.txt
479810844.txt
479811010.txt
479811532.txt
479812074.txt
479813020.txt
479815088.txt
479815208.txt
479816350.txt
479816746.txt
479817934.txt
479821002.txt
479822638.txt
479845044.txt
479887166.txt
479900714.txt
479948006.txt
479964710.txt
479968764.txt
479976764.txt
479981968.txt
479985266.txt
479989586.txt
479990506.txt
479990800.txt
479991654.txt
479993814.txt
479993860.txt
479994492.txt
479994802.txt
479996950.txt
479996990.txt
480003106.txt
480005548.txt
480005900.txt
480006478.txt
480007554.txt
480013912.txt
480018036.txt
480028322.txt
480030292.txt
480032242.txt
480505646.txt
480505826.txt
480508144.txt
480508686.txt
480509066.txt
480510148.txt
480510304.txt
480510602.txt
480511492.txt
480511544.txt
480515378.txt
480516348.txt
480516608.txt
480516784.txt
480518480.txt
480518494.txt
480518818.txt
480519122.txt
480533566.txt
480544290.txt
480561622.txt
480568630.txt
480591872.txt
480592990.txt
480620056.txt
480624194.txt
480626536.txt
480629814.txt
480631516.txt
480656556.txt
480670896.txt
480684538.txt
480704418.txt
480720144.txt
480741888.txt
480762254.txt
480784376.txt
480819466.txt
480822862.txt
480823012.txt
480823476.txt
480823664.txt
480823830.txt
480823964.txt
480824088.txt
480824094.txt
480824650.txt
480824806.txt
480841322.txt
480869268.txt
480871714.txt
480877510.txt
480893890.txt
480894374.txt
480895262.txt
480895392.txt
480895714.txt
480896000.txt
480896052.txt
480896706.txt
480896978.txt
480897320.txt
480898178.txt
480898448.txt
480898734.txt
480899270.txt
480899466.txt
480899504.txt
480899564.txt
480899722.txt
480900104.txt
480900774.txt
480901468.txt
480901780.txt
480902218.txt
480902262.txt
480902366.txt
480903794.txt
480905202.txt
480906230.txt
480907290.txt
480907608.txt
480907642.txt
480908858.txt
480909026.txt
480909044.txt
480909748.txt
480909752.txt
480910974.txt
480911980.txt
480912400.txt
480913488.txt
480913492.txt
480913606.txt
480913742.txt
480913806.txt
480914324.txt
480914390.txt
480914500.txt
480914702.txt
480914784.txt
480915078.txt
480915236.txt
480915536.txt
480915556.txt
480915974.txt
480915990.txt
480916324.txt
480916952.txt
480916954.txt
480917060.txt
480917238.txt
480917960.txt
480918350.txt
480919602.txt
483232340.txt
483233416.txt
483233736.txt
483234964.txt
483235480.txt
483237006.txt
483237008.txt
483237058.txt
483237806.txt
483237810.txt
483238380.txt
483241594.txt
483244568.txt
483244600.txt
483245416.txt
483246258.txt
483250324.txt
483252148.txt
483260484.txt
483270882.txt
483275612.txt
483292150.txt
483292168.txt
483292306.txt
483294294.txt
483295904.txt
483302724.txt
483304632.txt
483307188.txt
483319310.txt
483329292.txt
483367590.txt
483369720.txt
483382210.txt
483399720.txt
483401246.txt
483435384.txt
483440836.txt
483449056.txt
483457018.txt
483494706.txt
483509534.txt
483522652.txt
483522798.txt
483534574.txt
483536604.txt
483542052.txt
483542344.txt
483542596.txt
483545710.txt
483560540.txt
483568474.txt
483586216.txt
483595130.txt
483598964.txt
483603526.txt
483611838.txt
483614514.txt
483618274.txt
483621400.txt
483621616.txt
483622998.txt
483623224.txt
483623472.txt
483623548.txt
483624126.txt
483624688.txt
483624974.txt
483625842.txt
483626864.txt
483627576.txt
483627918.txt
483628656.txt
483629572.txt
483631964.txt
483632566.txt
483634740.txt
483636252.txt
483636448.txt
483636594.txt
483639240.txt
483642750.txt
483647544.txt
483648354.txt
483648576.txt
483648598.txt
483648640.txt
483648664.txt
483648670.txt
483649036.txt
483649068.txt
483649764.txt
483650308.txt
483650442.txt
483650622.txt
483650930.txt
483651006.txt
484260044.txt
484261848.txt
484263800.txt
484266074.txt
484266096.txt
484271224.txt
484271686.txt
484272496.txt
484272872.txt
484273370.txt
484273466.txt
484276712.txt
484287726.txt
484308694.txt
484354774.txt
484363330.txt
484410504.txt
484446410.txt
484453780.txt
484463100.txt
484470950.txt
484485792.txt
484508326.txt
484509768.txt
484515558.txt
484534036.txt
484549066.txt
484550288.txt
484552748.txt
484564028.txt
484567650.txt
484579818.txt
484585898.txt
484624658.txt
484630376.txt
484634816.txt
484639364.txt
484667206.txt
484669418.txt
484669902.txt
484670088.txt
484675036.txt
484678440.txt
484678564.txt
484678712.txt
484680270.txt
484680784.txt
484681062.txt
484681098.txt
484681128.txt
484681508.txt
484683036.txt
484683942.txt
484684444.txt
484685398.txt
484688354.txt
484689836.txt
484690028.txt
484691018.txt
484691136.txt
484691358.txt
484695816.txt
484700888.txt
484700964.txt
484705048.txt
484705090.txt
484706478.txt
484738190.txt
484770678.txt
484774804.txt
484779592.txt
484788884.txt
484788920.txt
484789360.txt
485224966.txt
485225646.txt
485225678.txt
485225722.txt
485226282.txt
485232026.txt
485232548.txt
485232940.txt
485233124.txt
485233388.txt
485233564.txt
485242626.txt
485250048.txt
485253206.txt
485263574.txt
485268626.txt
485269134.txt
485279718.txt
485391938.txt
485402340.txt
485416624.txt
485418444.txt
485451212.txt
485471850.txt
485500906.txt
485513130.txt
485533600.txt
485591800.txt
485592670.txt
485600890.txt
485602998.txt
485605674.txt
485611900.txt
485613884.txt
485619508.txt
485620390.txt
485621190.txt
485631580.txt
485633090.txt
485635144.txt
485639314.txt
485639420.txt
485640466.txt
485641822.txt
485642116.txt
485642484.txt
485642790.txt
485646742.txt
485647392.txt
485649856.txt
485650830.txt
485653298.txt
485658788.txt
485660784.txt
485661680.txt
485662236.txt
486055512.txt
486056070.txt
486056668.txt
486058970.txt
486060394.txt
486060928.txt
486061332.txt
486081430.txt
486082076.txt
486082460.txt
486111288.txt
486159542.txt
486210606.txt
486231450.txt
486254634.txt
486281988.txt
486376458.txt
486384802.txt
486390078.txt
486395036.txt
486399254.txt
486403340.txt
486406280.txt
486408270.txt
486409630.txt
486409788.txt
486409984.txt
486410052.txt
486430144.txt
486430604.txt
486430626.txt
486430800.txt
486432030.txt
486434142.txt
486434386.txt
486434932.txt

486435886.txt
486435922.txt
486436472.txt
486436810.txt
486436982.txt
486438976.txt
486439050.txt
486439058.txt
486439158.txt
486439180.txt
486439654.txt
486440974.txt
486442184.txt
486442406.txt
486442632.txt
486442782.txt
486442914.txt
486442922.txt
486442924.txt
486442926.txt
486443700.txt
486444292.txt
486445084.txt
486446774.txt
486448318.txt
486452780.txt
486452876.txt
486453682.txt
486453684.txt
486454458.txt
486454852.txt
486455780.txt
486455838.txt
486456024.txt
486456046.txt
487986840.txt
487986864.txt
487986890.txt
487988466.txt
487996482.txt
487997078.txt
488048120.txt
488060168.txt
488068864.txt
97924048.txt

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x92 in position 1405: invalid start byte

In [285]:
lin=""
with open("230292662.txt",encoding="utf8") as input_data:
    for line in input_data:
        for line in input_data:
            if any(x in line.lower() for x in ["consolidated statements","consolidated statement","condensed","statement","data"]):
                if any(x in line.lower() for x in ["operations","income","financial","earnings"]):
                    if line.strip()[0].isupper():
                        #if line.strip().istitle():
                        print("upper",line)
                        #if line.strip().istitle():
                        lin+=line
                        break
        for line in input_data:
            if any(x in line.lower() for x in ["months ended","year ended"]):
                if any(x in line.lower() for x in ["january","febraury","march","april","may","june","july","august","september","october","november","december"]):
                    print("lower",line)
                    lin+=line
                    break

upper ITEM 9.01 Financial Statements and Exhibits.

lower today announced operating results for the quarter and year ended December 31, 2017.

upper Supplemental  data  to this  release can  be found  under  the "Financial  Results" navigation  tab on  the "For

lower                                                    Three months ended December 31,        Year ended December 31,

upper CONSOLIDATED STATEMENTS OF OPERATIONS

lower                                                                  Three months ended December 31,        Year ended December 31,

upper  Financial Statements in MAA's Annual Report on Form 10-K for the year ended December 31, 2017, expected to be filed with the SEC on or about February

lower                                      As of December 31, 2017                                 Three Months Ended

In [ ]:
lin=""
with open("230292662.txt",encoding="utf8") as input_data:
    for line in input_data:
        for line in input_data:
            if any(x in line.lower() for x in ["consolidated statements","consolidated statement","condensed","statement","data"]):
                if any(x in line.lower() for x in ["operations","income","financial","earnings"]):
                    if line.strip()[0].isupper():
                        #if line.strip().istitle():
                        print("upper",line)
                        #if line.strip().istitle():
                        lin+=line
                        break
        for line in input_data:
            if any(x in line.lower() for x in ["months ended","year ended"]):
                if any(x in line.lower() for x in ["january","febraury","march","april","may","june","july","august","september","october","november","december"]):
                    print("lower",line)
                    lin+=line
                    break

In [286]:
"<FORM-TYPE>N-14 8C/A".startswith("<FORM-TYPE>")

True

In [268]:
lin

'Included in Other non-operating income (expense) on the Consolidated Statements of Operations\n                                                                                        Months Ended\n'

In [250]:
mv_df_inc.incomeflag.value_counts()

True     1715
False      84
Name: incomeflag, dtype: int64

In [251]:
mv_df_inc["versionid"]=pd.to_numeric(mv_df_inc["versionid"])

In [252]:
mv_main_inc_df=pd.merge(mv_df_inc,sec_metadata_final[["VersionId","Has Income Statement Flag"]],left_on = ['versionid'], right_on = ['VersionId'])

In [220]:
mv_main_inc_df.head(3)

,versionid,companyname,incomeflag,VersionId,Has Income Statement Flag
0,230288860,"Hillenbrand, Inc.",True,230288860,True
1,230292662,MID AMERICA APARTMENT COMMUNITIES INC,True,230292662,True
2,230292662,MID AMERICA APARTMENT COMMUNITIES INC,True,230292662,True

In [239]:
mv_main_inc_df.shape

(1625, 5)

In [253]:
mv_main_inc_df[mv_main_inc_df["Has Income Statement Flag"]!=mv_main_inc_df["incomeflag"]].shape

(84, 5)

In [254]:
mv_main_inc_df[mv_main_inc_df["Has Income Statement Flag"]==mv_main_inc_df["incomeflag"]].shape

(1541, 5)

In [255]:
mv_main_inc_df[(mv_main_inc_df["Has Income Statement Flag"]!=mv_main_inc_df["incomeflag"])&(mv_main_inc_df["incomeflag"]==True)].shape

(73, 5)

In [272]:
mv_main_inc_df[(mv_main_inc_df["Has Income Statement Flag"]!=mv_main_inc_df["incomeflag"])&(mv_main_inc_df["incomeflag"]==False)].shape

(7, 5)

In [257]:
mv_main_inc_df[(mv_main_inc_df["Has Income Statement Flag"]!=mv_main_inc_df["incomeflag"])&(mv_main_inc_df["incomeflag"]==True)]

,versionid,companyname,incomeflag,VersionId,Has Income Statement Flag
3,230292662,MID AMERICA APARTMENT COMMUNITIES INC,True,230292662,False
9,259118202,Fortive Corp,True,259118202,False
16,273075380,"KBS Strategic Opportunity REIT, Inc.",True,273075380,False
40,342574798,"KBS Strategic Opportunity REIT, Inc.",True,342574798,False
179,463711944,RFPC Holding Corp.,True,463711944,False
192,466354734,VONAGE HOLDINGS CORP,True,466354734,False
197,467467766,"Del Frisco's Restaurant Group, Inc.",True,467467766,False
231,467859448,"General Motors Financial Company, Inc.",True,467859448,False
246,467878752,"Dolphin Entertainment, Inc.",True,467878752,False
260,468459580,HSBC HOLDINGS PLC,True,468459580,False
263,468463056,CHINA SOUTHERN AIRLINES CO LTD,True,468463056,False
337,469289554,Jefferies Financial Group Inc.,True,469289554,False
374,469637516,DXC Technology Co,True,469637516,False
380,469642264,STATE STREET CORP,True,469642264,False
480,471346522,BAYTEX ENERGY CORP.,True,471346522,False
484,471349672,MAZOR ROBOTICS LTD.,True,471349672,False
486,471358164,ING GROEP NV,True,471358164,False
512,471725606,MEXICAN PETROLEUM,True,471725606,False
584,472176622,"Delek US Holdings, Inc.",True,472176622,False
666,473059490,"AMYRIS, INC.",True,473059490,False
669,473573654,BEST BUY CO INC,True,473573654,False
691,473617478,FERRELLGAS FINANCE CORP,True,473617478,False
692,473617478,FERRELLGAS FINANCE CORP,True,473617478,False
693,473617478,FERRELLGAS FINANCE CORP,True,473617478,False
710,473734212,Prosper Funding LLC,True,473734212,False
723,473799520,Sasol Financing USA LLC,True,473799520,False
749,474083418,PUTNAM PREMIER INCOME TRUST,True,474083418,False
979,477075548,"Krystal Biotech, Inc.",True,477075548,False
988,477196330,"Icagen, Inc.",True,477196330,False
991,477205816,StoneCo Ltd.,True,477205816,False
...,...,...,...,...,...
1178,479845044,BANK OF MONTREAL /CAN/,True,479845044,False
1180,479948006,Probility Media Corp,True,479948006,False
1182,479968764,Lloyds Banking Group plc,True,479968764,False
1207,480515378,AMERICAN HONDA FINANCE CORP,True,480515378,False
1214,480518818,First Choice Bancorp,True,480518818,False
1215,480518818,First Choice Bancorp,True,480518818,False
1216,480518818,First Choice Bancorp,True,480518818,False
1223,480592990,CABOT MICROELECTRONICS CORP,True,480592990,False
1229,480631516,ACCESS NATIONAL CORP,True,480631516,False
1241,480823664,NUVEEN FLOATING RATE INCOME FUND,True,480823664,False
1243,480823830,NUVEEN SENIOR INCOME FUND,True,480823830,False
1249,480841322,NCI BUILDING SYSTEMS INC,True,480841322,False
1250,480841322,NCI BUILDING SYSTEMS INC,True,480841322,False
1251,480841322,NCI BUILDING SYSTEMS INC,True,480841322,False
1264,480896000,BARRICK GOLD CORP,True,480896000,False
1297,480913492,AFLAC INC,True,480913492,False
1298,480913606,Ashford Inc.,True,480913606,False
1331,483244568,"VEREIT Operating Partnership, L.P.",True,483244568,False
1332,483244568,"VEREIT Operating Partnership, L.P.",True,483244568,False
1407,483622998,Matlin & Partners Acquisition Corp,True,483622998,False
1409,483624126,Navios Maritime Acquisition CORP,True,483624126,False
1410,483624126,Navios Maritime Acquisition CORP,True,483624126,False
1411,483624974,Navios Maritime Midstream Partners LP,True,483624974,False
1416,483629572,"Independence Contract Drilling, Inc.",True,483629572,False
1417,483631964,Chubb Ltd,True,483631964,False
1449,484470950,ONTARIO PROVINCE OF,True,484470950,False
1450,484485792,Jefferies Group Capital Finance Inc.,True,484485792,False
1536,485640466,FIRST INTERSTATE BANCSYSTEM INC,True,485640466,False
1537,485642116,ONTARIO PROVINCE OF,True,485642116,False
1570,486434142,GOVERNMENT PROPERTIES INCOME TRUST,True,486434142,False

In [224]:
mv_main_inc_df.incomeflag.value_counts()

True     1428
False     193
Name: incomeflag, dtype: int64

In [225]:
mv_main_inc_df["Has Income Statement Flag"].value_counts()

True     1534
False      91
Name: Has Income Statement Flag, dtype: int64

In [245]:
mv_main_inc_df[mv_main_inc_df.versionid==332386300]

,versionid,companyname,incomeflag,VersionId,Has Income Statement Flag
27,332386300,LEGACY RESERVES LP,False,332386300,True

In [198]:
sec_metadata_final[sec_metadata_final.VersionId==230292662]

,DocumentId,doc cnt,VersionId,CompanyId,Company Name,documentToObjectRelId,elementGroupId,PeriodOfReport,Language,FilingDate,FilingDateSource,PeriodType,Has Income Statement Flag,Is Preliminary Flag,Is Amendment Flag,Is Errata Amendment Flag,Has Notes Flag,Has Audited Financials Flag,Category
647,230292326,3,230292662,332358,"Mid-America Apartment Communities, Inc.",321328575,-2139684062,2017-12-31,English,2018-01-31 16:36:22,Filing date on the website,Annual,True,1.0,0.0,0.0,NaN,NaN,TEST
648,230292326,3,230292662,332358,"Mid-America Apartment Communities, Inc.",321328575,-1415622197,2017-12-31,English,2018-01-31 16:36:22,Filing date on the website,Quarter,True,1.0,0.0,0.0,NaN,NaN,TRAIN
649,230292326,3,230292662,27525007,"Mid-America Apartments, L.P.",321328577,-1415622195,NaT,English,2018-01-31 16:36:22,Filing date on the website,NaN,False,NaN,NaN,NaN,NaN,NaN,VALIDATION

In [226]:
mv_main_inc_df[(mv_main_inc_df["Has Income Statement Flag"]!=mv_main_inc_df["incomeflag"])&(mv_main_inc_df["incomeflag"]==True)]

,versionid,companyname,incomeflag,VersionId,Has Income Statement Flag
3,230292662,MID AMERICA APARTMENT COMMUNITIES INC,True,230292662,False
9,259118202,Fortive Corp,True,259118202,False
16,273075380,"KBS Strategic Opportunity REIT, Inc.",True,273075380,False
179,463711944,RFPC Holding Corp.,True,463711944,False
192,466354734,VONAGE HOLDINGS CORP,True,466354734,False
195,466988160,ENDEAVOUR SILVER CORP,True,466988160,False
197,467467766,"Del Frisco's Restaurant Group, Inc.",True,467467766,False
231,467859448,"General Motors Financial Company, Inc.",True,467859448,False
259,468457282,WOORI BANK,True,468457282,False
260,468459580,HSBC HOLDINGS PLC,True,468459580,False
263,468463056,CHINA SOUTHERN AIRLINES CO LTD,True,468463056,False
337,469289554,Jefferies Financial Group Inc.,True,469289554,False
380,469642264,STATE STREET CORP,True,469642264,False
480,471346522,BAYTEX ENERGY CORP.,True,471346522,False
484,471349672,MAZOR ROBOTICS LTD.,True,471349672,False
512,471725606,MEXICAN PETROLEUM,True,471725606,False
584,472176622,"Delek US Holdings, Inc.",True,472176622,False
666,473059490,"AMYRIS, INC.",True,473059490,False
691,473617478,FERRELLGAS FINANCE CORP,True,473617478,False
692,473617478,FERRELLGAS FINANCE CORP,True,473617478,False
693,473617478,FERRELLGAS FINANCE CORP,True,473617478,False
710,473734212,Prosper Funding LLC,True,473734212,False
723,473799520,Sasol Financing USA LLC,True,473799520,False
749,474083418,PUTNAM PREMIER INCOME TRUST,True,474083418,False
838,475278334,ELECTRAMECCANICA VEHICLES CORP.,True,475278334,False
979,477075548,"Krystal Biotech, Inc.",True,477075548,False
988,477196330,"Icagen, Inc.",True,477196330,False
991,477205816,StoneCo Ltd.,True,477205816,False
993,477215740,SB ONE BANCORP,True,477215740,False
1011,477251914,Oasis Midstream Partners LP,True,477251914,False
1052,478003336,B.A.T Capital Corp,True,478003336,False
1053,478003336,B.A.T Capital Corp,True,478003336,False
1079,478490932,BioLineRx Ltd.,True,478490932,False
1120,478889114,COMCAST CORP,True,478889114,False
1121,478889114,COMCAST CORP,True,478889114,False
1136,478909758,BARCLAYS BANK PLC,True,478909758,False
1139,478918824,Jefferies Financial Group Inc.,True,478918824,False
1150,479505248,QUEENSLAND TREASURY CORP,True,479505248,False
1180,479948006,Probility Media Corp,True,479948006,False
1197,480032242,CREDIT SUISSE AG,True,480032242,False
1214,480518818,First Choice Bancorp,True,480518818,False
1215,480518818,First Choice Bancorp,True,480518818,False
1216,480518818,First Choice Bancorp,True,480518818,False
1223,480592990,CABOT MICROELECTRONICS CORP,True,480592990,False
1241,480823664,NUVEEN FLOATING RATE INCOME FUND,True,480823664,False
1243,480823830,NUVEEN SENIOR INCOME FUND,True,480823830,False
1249,480841322,NCI BUILDING SYSTEMS INC,True,480841322,False
1250,480841322,NCI BUILDING SYSTEMS INC,True,480841322,False
1251,480841322,NCI BUILDING SYSTEMS INC,True,480841322,False
1264,480896000,BARRICK GOLD CORP,True,480896000,False
1298,480913606,Ashford Inc.,True,480913606,False
1409,483624126,Navios Maritime Acquisition CORP,True,483624126,False
1410,483624126,Navios Maritime Acquisition CORP,True,483624126,False
1411,483624974,Navios Maritime Midstream Partners LP,True,483624974,False
1416,483629572,"Independence Contract Drilling, Inc.",True,483629572,False
1536,485640466,FIRST INTERSTATE BANCSYSTEM INC,True,485640466,False
1570,486434142,GOVERNMENT PROPERTIES INCOME TRUST,True,486434142,False

In [51]:
sec_metadata[sec_metadata.VersionId==230292662]

,DocumentId,doc cnt,VersionId,CompanyId,Company Name,documentToObjectRelId,elementGroupId,PeriodOfReport,Language,FilingDate,FilingDateSource,PeriodType,Has Income Statement Flag,Is Preliminary Flag,Is Amendment Flag,Is Errata Amendment Flag,Has Notes Flag,Has Audited Financials Flag,Category
645,230292326,3,230292662,332358,"Mid-America Apartment Communities, Inc.",321328575,-2139684062,2017-12-31,English,2018-01-31 16:36:22,Filing date on the website,Annual,True,1.0,0.0,0.0,NaN,NaN,TEST
646,230292326,3,230292662,332358,"Mid-America Apartment Communities, Inc.",321328575,-1415622197,2017-12-31,English,2018-01-31 16:36:22,Filing date on the website,Quarter,True,1.0,0.0,0.0,NaN,NaN,TRAIN
647,230292326,3,230292662,27525007,"Mid-America Apartments, L.P.",321328577,-1415622195,NaT,English,2018-01-31 16:36:22,Filing date on the website,NaN,False,NaN,NaN,NaN,NaN,NaN,VALIDATION

In [93]:
sec_metadata_final[sec_metadata_final.VersionId==273075380]

,VersionId,CompanyId,Company Name,PeriodOfReport,PeriodType,Has Income Statement Flag,Is Preliminary Flag,Is Amendment Flag,Has Audited Financials Flag
662,273075380,324286036,KBS SOR (BVI) Holdings Ltd.,2017-12-31,Annual,True,1.0,0.0,NaN
663,273075380,324286036,KBS SOR (BVI) Holdings Ltd.,2018-03-12,Quarter,False,1.0,0.0,NaN

In [105]:
sec_metadata_final[sec_metadata_final.VersionId==273075380]

,VersionId,CompanyId,Company Name,PeriodOfReport,PeriodType,Has Income Statement Flag,Is Preliminary Flag,Is Amendment Flag,Has Audited Financials Flag
662,273075380,324286036,KBS SOR (BVI) Holdings Ltd.,2017-12-31,Annual,True,1.0,0.0,NaN

In [94]:
sec_metadata[sec_metadata.VersionId==273075380]

,DocumentId,doc cnt,VersionId,CompanyId,Company Name,documentToObjectRelId,elementGroupId,PeriodOfReport,Language,FilingDate,FilingDateSource,PeriodType,Has Income Statement Flag,Is Preliminary Flag,Is Amendment Flag,Is Errata Amendment Flag,Has Notes Flag,Has Audited Financials Flag,Category
661,273074420,3,273075380,52056017,"KBS Strategic Opportunity REIT, Inc.",327368885,-1384960053,NaT,English,2018-03-12 14:07:12,Filing date on the website,NaN,False,NaN,NaN,NaN,NaN,NaN,VALIDATION
662,273074420,3,273075380,324286036,KBS SOR (BVI) Holdings Ltd.,327415815,-1384660709,2017-12-31,English,2018-03-12 14:07:12,Filing date on the website,Annual,True,1.0,0.0,0.0,NaN,NaN,TRAIN
663,273074420,3,273075380,324286036,KBS SOR (BVI) Holdings Ltd.,327415815,-1384659949,2018-03-12,English,2018-03-12 14:07:12,Filing date on the website,Quarter,False,1.0,0.0,NaN,NaN,NaN,TRAIN

In [92]:
mv_main_inc_df[mv_main_inc_df.versionid==273075380]

,versionid,companyname,incomeflag,VersionId,Has Income Statement Flag
15,273075380,"KBS Strategic Opportunity REIT, Inc.",True,273075380,True
16,273075380,"KBS Strategic Opportunity REIT, Inc.",True,273075380,False

In [ ]:
pd.concat()